<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
        <title>Document</title>
    </head>

    <style>
        h2 {
            margin-left: 25%;
            margin-top: 5%;
        }

        .left {
            float: left;

        }

        .right {
            float: right;

        }

        #bt {
            margin-left: 40%;
        }

        .logout {
            float: right;
        }

        .label {
            display: flex;
        }

        #productForm {
            margin-left: 19%;
        }

        input {
            width: 300px;
        }

        /* .vl { 
            border-left: 6px solid green;
            height: 500px;
        } */

    </style>

    <body>
        <div class="container">
            <h2>Welcome to Scozy Admin Dashboard</h2>
            <br><br>
            <a class="logout" href="/logout">Logout</a>
            <br>
            <button type="button" id="bt" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                See all Users
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">All users</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/scozy/admin/dashboard" method="post">

                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% allUsers.reverse().forEach(allUsers => { %>
                                        <tr>
                                            <td><%= allUsers.fname%> <%= allUsers.lname%></td>
                                            <td><%= allUsers.email %></td>
                                            <td><%= allUsers.gender %></td>
                                            <td><%= allUsers.username %></td>
                                            <td><%= allUsers.type %></td>
                                            <td>
                                                <a href="/scozy/admin/dashboard/updateUser/<%=allUsers._id%>"
                                                    class="btn border-shadow update">
                                                    <span class="text-gradient">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </span>
                                                </a>
                                                <a class="btn border-shadow delete" id="delete" data-id=>
                                                    <span class="text-gradient">
                                                        <i class="fa-solid fa-user-slash"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="container-fluid">
            <div class="left">
                <h3>Products List</h3>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"> Add new Product
                </button>

                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add new Product</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="body">
                                <form id="productForm" action="/scozy/admin/dashboard" method="POST"
                                    enctype="multipart/form-data">
                                    <label class=" label" for="name">Product Name</label>
                                    <input type="text" name="name" placeholder="Enter Product Name">

                                    <label class="label" for="description">Product Description</label>
                                    <textarea name="description" id="text" cols="38" rows="5"></textarea>

                                    <label class="label" for="price">Product Price</label>
                                    <input type="text" name="price" placeholder="Enter Product price">

                                    <label class="label" for="specs">Product Specifications</label>
                                    <textarea name="specs" id="text" cols="38" rows="5"></textarea>

                                    <label class="label" for="productId">Product Id</label>
                                    <input type="text" name="productId" placeholder="Enter ProductId">

                                    <label class="label" for="box">In Box Items</label>
                                    <input type="text" name="box" placeholder="What will be in the box?">

                                    <label class="label" for="image">Product Image</label>
                                    <input type="file" name="productImage" id="productImage"
                                        placeholder="select an image for the product">

                                    <button type="submit" value="Register" class="btn btn-primary"
                                        style="margin-top: 10px;">Submit</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <form action="/scozy/admin/dashboard" method="post">

                    <table class="detail">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">productId</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allProducts.reverse().forEach(allproducts => { %>
                            <tr>
                                <td><%= allproducts.name%></td>
                                <td><%= allproducts.description %></td>
                                <td><%= allproducts.price %></td>
                                <td><%= allproducts.productId %></td>
                                <td>
                                    <a href="/scozy/admin/dashboard/updateProduct/<%=allproducts._id%>"
                                        class="btn border-shadow update">
                                        <span class="text-gradient">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </span>
                                    </a>
                                    <a class="btn border-shadow delete" id="delete" data-id=<%=allproducts._id%>>
                                        <span class="text-gradient">
                                            <i class="fa-solid fa-user-slash"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="vl"></div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $("#myform").submit(function (event) {
            alert("Product Added Successfully");
        })

    </script>
    <script>
        if (window.location.pathname == "/scozy/admin/dashboard") {
            $ondelete = $(".detail tbody td a.delete");
            $ondelete.click(function () {
                var id = $(this).attr("data-id")
                console.log(id)

                var request = {
                    "url": `http://localhost:3000/scozy/admin/dashboard/${id}`,
                    "method": "DELETE"
                }

                if (confirm("Do you want to delete this record?")) {
                    $.ajax(request).done(function (response) {
                        alert("Data Deleted Successfully!");
                        location.reload();
                    })
                }

            })
        }

    </script>

</html>
